* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alegreya', serif;
    color: #333;
    line-height: 1.6;
}

body, h1, h2, h3, p, nav {
    text-align: center;
    width: 100%;
}

.centered-content {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; /
    justify-content: center; 

nav {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 5px;
}

nav a:hover {
    background-color: #eee;
}

figure {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

figure img {
    max-width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #eee;
}


